<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width= device-width , initial-scale= 1.0 " />
		<link rel="stylesheet" href="/css/main.css" />
		<title>Delivery</title>
	</head>
	<body class="bg-gray-100 px-6 py-12 font-sans">
		<h1
			class="sticky left-0 right-0 z-50 font-serif font-black text-4xl uppercase text-center pb-6"
		>
			Delivery
		</h1>
		<div class="flex flex-col md:max-w-lg my-6 mx-auto gap-6">
			<h2 class="text-slate-600 text-2xl">Shipment Details</h2>
			<div class="flex flex-col gap-4">
				<p class="text-base">
					<span class="block font-medium text-slate-600">Shipment Address</span>
					<span>{{ context[0].address }}</span>
				</p>
				<p class="text-base">
					<span class="block font-medium text-slate-600">Recipient</span>
					<span>{{ context[0].recipient }}</span>
				</p>
				<p class="text-base">
					<span class="block font-medium text-slate-600"
						>Recipient contacts</span
					>
					<span>{{ context[0].email }}</span>
				</p>
			</div>
			<a
				href="/"
				class="w-full rounded-lg text-center px-4 py-2 bg-slate-600 text-white"
			>
				Go back
			</a>
		</div>
	</body>
</html>
